.item{
    margin-top: 200px ;
    width: 100%;
}
.item__container{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item__img{
    width: 30%;
    margin-right: 50px  ;
}
.item__img img{
    width: 100%;
}